/* logo insta dans la barre de naviguation */
.insta_header{
	width:25px;
	position:fixed;
	right:95px;

}
/* icone personage  */ 
.icon_header{
width:27px;
position:fixed;
right:68px;
top:60px;
} 
/* texte se connecter */
.connection_header{
	position:fixed;
	right:2px;
	top:48px;
	color:black;
	border-style:inset;
	border-width:1px;
	border-color:black;

}
/*animation connecter */
.connection_header:hover{
	box-shadow:2px 2px 2px black;

}
/*logo facebook dans la barre de navigation*/
.facebook_header{
	width:25px;
	position:fixed;
	right:123px;

}
/* animation des icone de la barre de naviguation*/
.facebook_header:hover,.icon_header:hover,.insta_header:hover{
	width : 50px;
}

/* tableau de la barre de navigation */
#tableau_menu{
border-collapse:collapse;
position:fixed;
right:10px;
top:10px;

}
/* tableau de la barre de navigation chaque cellule du tableau */
.tableau_menu_cel{
	font-size:20px;
	color:white;
	font-weight:normal;
	text-align:center;

	border:3px outset rgb(246,225,216);
	padding:5px;





}
/*animation tableaux au survol */
.tableau_menu_cel:hover{
	
	background-color:rgb(243,138,158);
	box-shadow:4px 4px 4px black;


}

/* titre les aprentis épanouis */
.premier_titre{
	color:white;
	font-size:15px;
	font-style:normal;
	font-weight:normal;
	position:fixed;
	left:110px;
	top:50px;
	




}
/* Accompagnement & Bien-Etre Familial*/
.second_titre{
	color:white;
	font-size:15px;
	font-style:normal;
	font-weight:normal;
	position:fixed;
	left:110px;
	top:70px;
}
/* barre de navigation */
.header_nav{
	z-index:999;
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
padding:40px;

	background-position: 0 0;

background:linear-gradient(0deg ,rgb(213,134,182),rgb(214,175,83));
background:-moz-linear-gradient(0deg ,rgb(213,134,182),rgb(214,175,83));
background:-o-linear-gradient(0deg ,rgb(213,134,182),rgb(214,175,83));
background:-ms-linear-gradient(0deg ,rgb(213,134,182),rgb(214,175,83));
background:-webkit-linear-gradient(0deg ,rgb(213,134,182),rgb(214,175,83));
}
/* logo les aprentis épanouis */
.logo{
	width:80px;
	display:block;
	margin:10px;
	position:fixed;
	top:5px;
	left:10px;
}
